.todo_item {
    padding:10px;
    display:flex;
    justify-content:space-between;
    background:orangered;
}

.hide {
    display:none;
}

.main_box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 4px solid darkred;
}