span {

    background-color: red;
    color: #fff;
    display: inline-block;
    cursor: pointer;

}



.ox {

    width: 100px;
    height: 100px;
    background-color: orange;
}

.form_div {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.mg {
    margin-bottom: 20px;
}