<button (click)="addHandler()">ADD</button>
<input [(ngModel)]="modelText">

<div>
    <h3 *ngFor="let el of modalArray; let i = index;">{{el}} 
    <span (click)="deleteHandler(i)">{{i}} - X</span>
  </h3>
</div>


<div class="form_div">

<label for="">
  <span>height: </span>
  <input type="text" [(ngModel)]="height">
</label>

<label for="">
  <span>width: </span>
  <input type="text" [(ngModel)]="width">
</label>

<label for="">
  <span>backgroundColor: </span>
  <input type="text" [(ngModel)]="backgroundColor">
</label>
<button (click)="addBoxHandler()">Add box</button>
<!-- [ngStyle]="{'animation-delay.s': i , 'color' : 'red' }" -->
<div class="mg" *ngFor="let el of boxArray; let i = index" [ngStyle]="{'width': el.width ,
'height': el.height ,'backgroundColor' : el.backgroundColor }">
  {{i}}
  <button (click)="removeboxHandler(i)">remove box</button>
</div>

<div *ngFor="let ingredient of ingredients">
 {{ ingredient.name }} - {{ ingredient.amount }}
</div>


</div>

